.main-section {
  max-width: 80%;
  margin: auto;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

.coin-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

img {
  max-width: 20%;
  margin-right: 10px;
}

.name-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  flex-wrap: wrap;
}

.symbol {
  flex: 1;
}

.current-price {
  flex: 1;
}

.price-percent {
  flex: 1;
  font-weight: 700;
}

@media (max-width: 768px) {
  .main-section {
    max-width: 100%;
    padding: 0 10%;
  }
}
